useDynLib(DPpackage)

export( 
        CSDPbinary,
        CSDPbinary.default,
        DPbinary,
        DPbinary.default,
        DPdensity,
        DPdensity.default,        
        DPelicit,
        DPelicit.default,        
        DPglmm,
        DPglmm.default,
        DPlmm,
        DPlmm.default,
        DPolmm,
        DPolmm.default,
        DPpsBF,        
        DPrandom,
        DPrandom.default,
        DPrasch,
        DPrasch.default,
        DPraschpoisson,
        DPraschpoisson.default,
        DPsurvint,
        DPsurvint.default,
        FPTbinary,
        FPTbinary.default,
        FPTrasch,
        FPTrasch.default,
        FPTraschpoisson,
        FPTraschpoisson.default,
        Pbinary,
        Pbinary.default,
        PTdensity,
        PTdensity.default,
        PTlm,
        PTlm.default
)


importFrom(graphics, plot)

## register S3 methods

S3method(print, CSDPbinary)
S3method(plot, CSDPbinary)
S3method(summary, CSDPbinary)
S3method(print, summaryCSDPbinary)
S3method(predict, CSDPbinary)

S3method(print, DPbinary)
S3method(plot, DPbinary)
S3method(summary, DPbinary)
S3method(print, summaryDPbinary)
S3method(predict, DPbinary)

S3method(print, DPdensity)
S3method(plot, DPdensity)
S3method(summary, DPdensity)
S3method(print, summaryDPdensity)

S3method(print, DPelicit)

S3method(print, DPglmm)
S3method(plot, DPglmm)
S3method(summary, DPglmm)
S3method(print, summaryDPglmm)

S3method(print, DPlmm)
S3method(plot, DPlmm)
S3method(summary, DPlmm)
S3method(print, summaryDPlmm)

S3method(print, DPolmm)
S3method(plot, DPolmm)
S3method(summary, DPolmm)
S3method(print, summaryDPolmm)

S3method(print, DPpsBF)

S3method(print, DPrandom)
S3method(plot, DPrandom)

S3method(print, DPrasch)
S3method(plot, DPrasch)
S3method(summary, DPrasch)
S3method(print, summaryDPrasch)

S3method(print, DPraschpoisson)
S3method(plot, DPraschpoisson)
S3method(summary, DPraschpoisson)
S3method(print, summaryDPraschpoisson)

S3method(print, DPsurvint)
S3method(plot, DPsurvint)
S3method(summary, DPsurvint)
S3method(print, summaryDPsurvint)
S3method(predict, DPsurvint)
S3method(plot, predict.DPsurvint)

S3method(print, FPTbinary)
S3method(plot, FPTbinary)
S3method(summary, FPTbinary)
S3method(print, summaryFPTbinary)
S3method(predict, FPTbinary)

S3method(print, FPTrasch)
S3method(plot, FPTrasch)
S3method(summary, FPTrasch)
S3method(print, summaryFPTrasch)

S3method(print, FPTraschpoisson)
S3method(plot, FPTraschpoisson)
S3method(summary, FPTraschpoisson)
S3method(print, summaryFPTraschpoisson)

S3method(print, Pbinary)
S3method(plot, Pbinary)
S3method(summary, Pbinary)
S3method(print, summaryPbinary)
S3method(predict, Pbinary)

S3method(print, PTdensity)
S3method(plot, PTdensity)
S3method(summary, PTdensity)
S3method(print, summaryPTdensity)

S3method(print, PTlm)
S3method(plot, PTlm)
S3method(summary, PTlm)
S3method(print, summaryPTlm)
